.music_display{
    width: 100%;
    height: 50vh;
}

.music_btns {
    display: flex;
}

.line_break {
    margin-top: 1rem;
    border-bottom: 1px solid var(--text-color-white);
}

.music_info {
    margin-bottom: 2rem;
    line-height: 2rem;
}